.nav-container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    padding:5px;
    background-color:black;
    color:white;
}  
body{
    margin:0;
    box-sizing:border-box;
}  
.main{
    display:grid;
    grid-template-columns: repeat(3,180px); 
    justify-content:center;
    grid-template-rows:150px;
    margin-top:40px;
}        
.imgee{
height:140px;
width:140px;
border-radius:50%;
}   
.imgee:hover{
border:3.5px solid black;
transform:scale(1.05);
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
} 
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:5rem;
} 
#userscore,#compscore{
    font-size:4rem;
} 
#msg{
    background-color:black;
    color:white;
    font-size:2rem;
    text-align:center;
    display:inline;
    border-radius:5px; 
    padding:10px;        
} 
.msg-container{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100px;  
} 



